---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

---

<Layout title="活动 | 黄诗扶 Wiki">
	<main class="min-h-screen bg-[rgb(77,0,0)] p-8 md:p-20 font-serif">
		<div class="max-w-2xl mx-auto">
			<header class="mb-16">
				<a href="/" class="text-lg text-red-300 hover:text-[#c9c9c9] transition-colors">← 返回首页</a>
				<h1 class="text-5xl text-[#c9c9c9] mt-8 tracking-widest drop-shadow-[0_0_10px_rgba(201,201,201,0.3)]">活动</h1>
				<div class="h-px w-25 bg-[#c9c9c9] mt-4 shadow-[0_0_5px_#c9c9c9]"></div>
			</header>
		</div>
	</main>
	<script></script></Layout
>
